/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

.case-study-list {
	&.is-grid {
		display: flex;
		flex-wrap: wrap;
		list-style: none;
	}
}

.case-study {
	.is-grid & {
		flex-basis: calc( 33.33% - 1em );
		margin: 0.5em;
		text-align: center;
	}
}